@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
.card {
    display: flex;
    padding: 50px;
    background-color: white;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    width: 70rem;
    font-family: 'Jost', sans-serif;
    font-size: 1.7rem;
}
img {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: relative;
    left: -140px;
    box-shadow: 20px 20px 50px -30px  rgb(142, 172, 205);
}
div.text{
    padding-top: 5rem;
}
p , a{
    margin: 0.9rem;
}
p.title {
    font-weight: bolder;
    font-size: 2rem;
}
a {
    all:unset;
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    background-image: linear-gradient(to right , rgb(210, 224, 251), rgb(249, 243, 204), rgb(215, 229, 202));
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}